<h1 i18n>Quick</h1>
<br><br>
<form [formGroup]="phoneNumberForm" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field>
    <mat-label i18n>Telephone</mat-label>
    <input matInput type="tel" placeholder="555-555-1234" formControlName="phoneNumber" />
  </mat-form-field>
  
  <p *ngIf="successMessage" [ngClass]="{
    'text-success': successMessage,
    'text-danger': !successMessage
  }" class="SendClass">
    {{ successMessage }}
  </p>
  <br>
  <p i18n>
    Note: By submitting your phone number we will contact you on an urgent basis for
    your requirements.
  </p>
  <br>
  <button type="submit">
    <h6 i18n>Submit</h6>
  </button>
</form>
