<ul>
    <li><img src="../../../assets/imgs/Findus/ring.png" alt="Phone">
    
        <p i18n>+995 555 123 123</p>
    </li>
    <li><img src="../../../assets/imgs/Findus/at.png" alt="Mail">
        <p i18n>example&#64;gmail.com</p>
    </li>
    <li><img src="../../../assets/imgs/Findus/location.png" alt="Location">
        <p i18n>Tbilisi, example street, example number</p>
    </li>
    <li><img src="../../../assets/imgs/Findus/face.png" alt="social">
        <p i18n>Facebook Page</p>
    </li>
</ul>